backend/venv/
backend/__pycache__/
backend/.env
backend/uploads/
backend/venv/
backend/__pycache__/
backend/.env
backend/uploads/

datasets/New folder/
uploads/
backend/venv/
backend/__pycache__/
backend/.env
backend/uploads/