<!DOCTYPE html>
<html>

<head>

    <title>Smart Agriculture AI</title>

    <link rel="stylesheet" href="../static/style.css">

</head>


<body>


<nav>

    <h2>🌱 Smart Agriculture AI</h2>

    <div>
        <a href="/">Home</a>
        <a href="/crop">Crop</a>
        <a href="/disease">Disease</a>
        <a href="/weather">Weather</a>
        <a href="/market">Market</a>
    </div>

</nav>



<section class="hero">

    <h1>
        AI Smart Agriculture System 🌾
    </h1>

    <h2>
        Intelligent Decision Support for Farmers
    </h2>

    <p>
        Use Artificial Intelligence to improve crop selection,
        detect diseases and make smart farming decisions.
    </p>


    <button onclick="window.location.href='/crop'">
        Get Started
    </button>


</section>




<div class="container">


<h2>
🚜 Agriculture Solutions
</h2>



<div class="cards">



<div class="card">

<h3>🌱 Crop Recommendation</h3>

<p>
AI predicts the most suitable crop using soil and climate data.
</p>

<button onclick="window.location.href='/crop'">
Predict Crop
</button>

</div>





<div class="card">

<h3>🍃 Disease Detection</h3>

<p>
Detect plant diseases using CNN based image analysis.
</p>

<button onclick="window.location.href='/disease'">
Scan Leaf
</button>

</div>





<div class="card">

<h3>🌦 Weather Monitoring</h3>

<p>
Get live weather information for better farming decisions.
</p>

<button onclick="window.location.href='/weather'">
Check Weather
</button>

</div>





<div class="card">

<h3>💰 Market Price</h3>

<p>
Check crop market price information before selling.
</p>

<button onclick="window.location.href='/market'">
View Price
</button>

</div>



</div>




<section class="about">


<h2>
🤖 Why Smart Agriculture?
</h2>


<p>
✔ AI Based Farming Support
</p>

<p>
✔ Early Disease Detection
</p>

<p>
✔ Weather Based Decisions
</p>

<p>
✔ Better Crop Planning
</p>


</section>



</div>



<footer>

<p>
© 2026 Smart Agriculture AI | B.Tech AI & Data Science Project
</p>

</footer>



</body>

</html>